<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jraska.github.client.core">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application>
    <activity android:name=".android.UriHandlerActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
          android:host="github.com"
          android:pathPattern="/.*"
          android:scheme="https"/>
      </intent-filter>
    </activity>

  </application>
</manifest>
