<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:dist="http://schemas.android.com/apk/distribution"
  package="com.jraska.github.client.settings">

  <application>
    <activity android:name=".SettingsActivity"/>
  </application>

  <dist:module
    dist:instant="false"
    dist:title="@string/title_dynamic_feature_about">
    <dist:delivery>
      <dist:on-demand />
    </dist:delivery>
    <dist:fusing dist:include="true" />
  </dist:module>
</manifest>
