<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jraska.github.client.users">

  <application>
    <activity android:name=".ui.UsersActivity"/>
    <activity android:name=".ui.UserDetailActivity"/>
    <activity android:name=".ui.RepoDetailActivity"/>
  </application>
</manifest>
